* {
  width: 100%;
  height: 100%;
  margin: 0;
}
#miniGame2 {
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* PART 1 */

#mg2Part1 {
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/images/minigame2/minigame2part2-background.png);
  z-index: 2;
}
#test {
  display: none;
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
  background-image: url(/assets/images/minigame2/minigame2part2-backgroundoverlay.png);
  z-index: 3;
}
#mg2Nav {
  position: fixed;
  top: 7.5%;
  width: 97.5%;
  height: 27.5%;
  display: flex;
  justify-content: space-between;
}
.mg2TabBtn {
  width: 27.5%;
  height: auto;
}
.mg2answer {
  position: fixed;
  width: 47.5%;
  height: 65%;
  bottom: 5%;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/images/minigame2/minigame2part2-answer.png);
  display: flex;
  justify-content: center;
}
.mg2answerImg {
  position: absolute;
  width: 47.5%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.mg2blocksBox {
  width: 47.5%;
  height: 62.5%;
  position: fixed;
  bottom: 1.5%;
  right: 2%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/images/minigame2/minigame2part2-blocks.png);
}
.mg2blocks {
  position: relative;
  width: 82.5%;
  height: 72.5%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  grid-gap: 0;
  min-height: 0;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-52.5%, -52.5%);
}
.mg2block {
  width: fit-content;
  height: 100%;
  cursor: move;
  margin: 0 auto;
  overflow: hidden;
}
.mg2Text {
  position: fixed;
  width: 40%;
  height: auto;
  text-align: center;
  font-size: 3.5vw;
  font-family: "Raleway", sans-serif;
  color: darkred;
  bottom: 25%;
  right: 6.5%;
  display: none;
}

/* PART 2 */

#mg2Part2 {
  display: none;
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/images/minigame2/NG_PriorityGame_Scene.png);
}
#mg2ItemBox {
  width: 45%;
  height: 40%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5%;
  justify-content: space-between;
  position: fixed;
  left: 25%;
  top: 32.5%;
}
.mg2Item {
  cursor: move;
}
#mg2Quill {
  position: fixed;
  width: 11.5%;
  height: auto;
  right: 3%;
  bottom: 35%;
  z-index: 202;
  overflow-y: hidden;
  transition: 0.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.mg2Inkwell {
  position: fixed;
  width: 15%;
  height: auto;
  right: 5%;
  bottom: 2.5%;
}
#mg2InkwellBG {
  z-index: 201;
}
#mg2Submit {
  z-index: 203;
}
