/* Settings to get the right height out of the body element. */
body {
    min-height: 100vh;
    background-color: rgb(225, 216, 216);
    user-select: none;

    margin: 0;
    padding: 0;
}

#flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 2.5vh;
    background-color: aqua;
    min-height: 95vh;
}

#flexbox-top {
    display: flex;
    justify-content: space-between;

    min-width: 95vw;
    height: 65vh;
    
    background-color: aqua;
}

#flexbox-bottom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    min-width: 95vw;
    min-height: 15vh;

    background-color: seagreen;
}

.character-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 216, 216);
}

.character {
    width: 100px;
    height: 150px;
}

.character-text {
    text-align: left;
    padding: 5px;

    width: 300px;
    height: 150px;

    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
}

/* Settings for all of the boxes inside the grid.
   Options Section, Drag & Drop Grid Section, and Character Section. */


#options-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(225, 216, 216);

    width: 15%;
    height: 95%;
    padding: 10px;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20%;

    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;

    font-size: x-large;
    font-weight: bolder;
    user-select: none;
}


#flexbox-grid-outer {
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 216, 216);

    width: 70%;
    height: 100%;

    border-style: solid;
    border-width: 6px;
}

#vertical-label {
    writing-mode: vertical-lr;
    width: 3%;

    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#flexbox-grid-inner {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 216, 216);

    width: 97.5%;
}

#horizontal-label {    
    height: 6%;

    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#grid-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;

    height: 95%;

    background-color: black;

    border-style: solid;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-top-width: 0;
    border-right-width: 0;
}

.grid-item {
    background-color: goldenrod;

    text-align: center;
    padding-top: 16%;
    user-select: none;
}

.grid-label {
    background-color: crimson;

    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 15%;
    user-select: none;
}
