:root {
    --animation-playback-speed: 5s;
    --animation-delay: 0s;

    --animation-start-pos: -5vw;
    --animation-stop-pos: -20vw;
}

body {
    background-color: black;
}

#splash-screen {
  position: relative;
  animation: splashScreenAnimation var(--animation-playback-speed) linear var(--animation-delay) infinite alternate;
}

@keyframes splashScreenAnimation {
  0%   {background-color:red; left:var(--animation-start-pos);}
  100% {background-color:red; left:var(--animation-stop-pos);}
}