html {
  height: 1080px;
  width: 1920px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
body {
  background: #373b44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373b44);
  background-image: url("/assets/images/ui/navyBkgrnd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-family: "Lilita One", cursive;
  font-size: 50px;
  color: #373737;
  text-align: center;
}

header {
  /* Place header at absolute  top of page */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* background-image:url("/assets/images/ui/titleLogo.png"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-size:contain;
  height:40%;
  width:100%;
  padding-bottom:5px; */
}
/*Button css*/

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

#start,
#setting {
  width: 30%;
  height: 25%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  position: relative;
  transform: translateY(100%);
}
#setting {
  position: relative;
  transform: translateY(80%);
}

.answer {
  width: 50%;
  height: 75px;
  font-size: 20px;
}

#answer {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/* Main container CSS */

#app {
  margin-top: 4%;
  /* background: rgba(255, 255, 255, 0.65); */
  width: 70%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; /* remove once positioned correctly*/
  background-image: url("/assets/images/ui/menuHeavyChar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 100%;
}

#gameContainer {
  text-align: center;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

#bottomLinks {
  visibility: hidden;
}

#bottomLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 5%;
}
#navyLink,
#navyLink2 {
  text-align: center;
  width: 20%;
  height: 80px;
  font-size: 30px;
}

#navyLink {
  display: flex;
  justify-content: flex-start;
}

#navyLink2 {
  display: flex;
}

/* Settings Page Css */

.slider {
  position: relative;
  /* center slider */
  margin-left: 25%;
  margin-right: 20%;
  width: 50%;
  margin-top: 3%;
}

#goBack,
#saveSettings {
  margin-top: 5%;
  margin-left: 12%;

  width: 30%;
  height: 50px;
  font-size: 25px;
}

/* Pop up Styling */
.modal {
  position: fixed;
  width: 25%;
  height: 70%;
  top: 10%;
  background-color: #e1ecf4;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  border-radius: 10px;
}

#crewRecs {
  padding-left: 5%;
}

#mapContainer,
#settingModal {
  position: fixed;
  width: 50%;
  height: 70%;
  top: 10%;
  background-color: #e1ecf4;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  border-radius: 10px;
}

#map {
  width: 500px;
  height: 100%;
  margin-left: 40%;
  margin-right: auto;
}

#settingModal {
  overflow: scroll;
}

#splash {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all ease-in-out 600ms;
}

.hidden {
  transition: 0.5s;
  display: none;
}

/* UI Overlay CSS */

#uiOVerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.uiIcon {
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
}

/* Position UI icons right side of the screen*/
#exitOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

#uiRightSide {
  right: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#settingModal {
  display: none;
}

/* position map overlay icon below setting overlay */

#dialogueScreen {
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.charaPortrait {
  width: 25vw;
  position: fixed;
  height: auto;
  z-index: 502;
  overflow-x: hidden;
  transition: 0.5s;
}
#lCharaPortrait {
  max-width: 20%;
  left: 0;
  bottom: -200px;
  filter: brightness(100%);
}
#rCharaPortrait {
  max-width: 20%;
  right: 0;
  bottom: -200px;
  filter: brightness(100%);
}
#dialogueBox {
  width: 85%;
  height: 35vh;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  background-image: url(/assets/images/dialogueBox.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 501;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  padding: 45px 12.5%;
}
#dialogueText {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 25px;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  color: darkred;
}
.dialogueBtn {
  width: 50px;
  height: 50px;
}
