body{
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#app{
 
  background: rgba(255, 255, 255, 0.65);
  height:auto;
  width:50%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}