* {
  user-select: none; /* deal with issue with highlighting assets making the UI look funny */
}

/* media breakpoint for screens that are not 1920x1080 */

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  html {
      width: 1920px;
      height: 1080px;
      overflow: hidden;
  }
}



html {
  height: 1080px !important;
  width: 1920px !important;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
body {
  background: #373b44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373b44);
  background-image: url("/assets/images/waterAnimation.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  font-family: "CubicFive10", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #000000;
  text-align: center;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}


#titleLogo{
  position: absolute;
  width: 30%;
  height: 40%;
  left: 35%;
  top: 0px;
  z-index: 999;
  background-image: url("/assets/images/ui/titleLogo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;

}
/*----------------- UI Overlay CSS------------------------------ */
#charRank {
  position: absolute;
  width: 108px;
  height: 180px;
  left: 32px;
  top: 59px;
  border-radius: 0px 50px 50px 0px;
}

#volumeIcon {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 37px;
  top: 336px;
  border-radius: 0px 50px 50px 0px;
}

#mapOverlay {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 28px;
  top: 511px;
  border-radius: 0px 50px 50px 0px;
}

#journalOverlay {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 32px;
  top: 687px;
  border-radius: 0px 50px 50px 0px;
}

#rankText {
  position: absolute;
  width: 79px;
  height: 39px;
  left: 48px;
  top: 240px;
  font-family: "Raleway";
  font-style: semi-bold;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
}

#uiTab {
  position: absolute;
  width: 96px;
  height: 152px;
  left: 172px;
  top: 600px;
  z-index: 999;
}

#uiTabArrow {
  position: absolute;
  left: 2.08%;
  right: 19.79%;
  top: 25.66%;
  bottom: 25%;
}



/* Position UI icons right side of the screen*/
#exitOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

#uiOverlayLeft {
  position: absolute;
  width: 174px;
  height: 872px;
  left: 0px;
  top: 214px;
  background: rgba(28, 28, 70, 0.69);
  border-radius: 0px 50px 50px 0px;
  z-index: 999;
}

#settingModal {
  display: none;
}

#lArrowUI{
position: absolute;
width: 100px;
height: 100px;
left:5%;
top: 50%;
z-index:998;
}

#rArrowUI{
position: absolute;
width: 100px;
height: 100px;
left: 82%;
top: 50%;
z-index:999;
}
/* position map overlay icon below setting overlay */

#dialogueScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}
.charaPortrait {
  width: 25vw;
  position: fixed;
  height: auto;
  z-index: 502;
  overflow-x: hidden;
  transition: 0.5s;
}
#lCharaPortrait {
  max-width: 20%;
  left: 0;
  bottom: -200px;
  filter: brightness(100%);
}
#rCharaPortrait {
  max-width: 20%;
  right: 0;
  bottom: -200px;
  filter: brightness(100%);
}
#dialogueImage {
  width: 75%;
  height: 75%;
  position: fixed;
  left: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(-50%, 0);
}
#dialogueBox {
  width: 85%;
  height: 35vh;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  background-image: url(/assets/images/ui/dialogueBox.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 501;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  padding: 3% 12.5%;
}
#dialogueText {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  color: darkred;
}
.dialogueBtn {
  width: 50px;
  height: 50px;
}
#transition {
  z-index: 9999;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
}
.fadeInAndOut {
  animation: fade 5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#uiOVerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  margin-top: 2%;
  height: 100%;
  z-index: 999;
}

.uiIcon {
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
}

/* slide icon to the left and add text next to it on hover */
.uiIcon:hover {
  margin-left: -20px;
  margin-right: 20px;
  transition: 0.5s;
}

/* Position UI icons right side of the screen*/
#exitOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

#uiRightSide {
  right: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* Pop up Styling */
.modal {
  position: fixed;
  width: 25%;
  height: 70%;
  top: 10%;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  border-radius: 10px;
}

#crewRecs {
  padding-left: 5%;
}

#mapContainer,
#settingModal {
  position: fixed;
  width: 50%;
  height: 70%;
  top: 10%;
  background-color:transparent;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  border-radius: 10px;
}

#map {
  width: 500px;
  height: 100%;
  margin-left: 40%;
  margin-right: auto;
}

#settingModal {
  overflow: scroll;
}

#mapContainer {
  /* display in center of screen*/
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#miniMap{
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 460px;
  top: 297px;
  
}

#journalContainer {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color:transparent;
  border-radius: 10px;
}

#journalModal {
  background-image: url("/assets/images/ui/bookscreen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Controls Screen */
#controlTutScreen {
  height: 80%;
  width: 40%; /* centered in screen*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* Character Select Screen */

#charThreeAv {
  position: absolute;
  width: 426.96px;
  height: 400px;
  left: 118px;
  top: 340px;
  background: url(/assets/images/characterSplashes/charSelect/charThree.png);
  background-size: contain;
  border-radius: 10px;
  font-size: 0;
  line-height: 0;
}

#charTwoAv {
  position: absolute;
  width: 426.96px;
  height: 400px;
  left: calc(50% - 426.96px / 2 + 0.48px);
  bottom: 340px;
  background: url(/assets/images/characterSplashes/charSelect/charTwo.png);
  background-size: contain;
  border-radius: 10px;
  font-size: 0;
  line-height: 0;
}

#charOneAv {
  position: absolute;
  width: 427.27px;
  height: 400px;
  right: 116.73px;
  top: 340px;
  background: url(/assets/images/characterSplashes/charSelect/charOne.png);
  background-size: contain;
  border-radius: 10px;
  font-size: 0;
  line-height: 0;
}

#charSelectStart, #startControlScreen {
  position: absolute;
  width: 600px;
  height: 90px;
  left: 34%;
  bottom:10%;
  background: url(/assets/images/ui/startBtn.png);
  background-repeat: no-repeat;
  border-style: none;
  z-index:999;
}

#charSelectStart:hover {
  background: url(/assets/images/ui/startBtnHover.png);
  background-repeat: no-repeat;
}

#charSelectHeader {
  position: absolute;
  width: 713px;
  height: 77px;
  left: 607px;
  top: 90px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#charSelExit {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 10px;
  top: 10px;
}
