body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#background {
  height: 1080px;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

#midground {
  height: 440px;
  z-index: 1;

  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

#charground {
  height: 1080px;
  bottom: 0px;
  z-index: 2;
  background-image: url("../../assets/images/backdrops/deckbg-blankplaceholder.png");
  background-position: bottom;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

#chars-upper {
  z-index: 2;
  height: 128px;
  bottom: 212px;

  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

#chars-lower {
  z-index: 4;
  height: 144px;
  bottom: 92px;

  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

#foreground {
  height: 1080px;
  z-index: 5;
  background-image: url("../../assets/images/backdrops/beachgamearea-foreground-animated.gif");
  background-position: bottom;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

#stationary {
  visibility: hidden;

  z-index: 10;
  width: 960px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding-bottom: 32px;
  position: absolute;
  bottom: 24px;
  left: 480px;

  background-image: url("../../assets/images/ui/botttomscreentextarea.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.character {
  margin: 0;
  padding: 0;
  width: 128px;
  height: 128px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  bottom: 0;
  left: 0;
}

#qm {
  background-image: url("../../assets/images/characters/crew/crew2B.png");
  transform: scaleX(-1);
  bottom: 16px;
  left: 1775px;
  z-index: 2;
}

#p1 {
  background-image: url("../../assets/images/characters/crew/crew4Front.png");
  transform: scaleX(-1);
  bottom: 8px;
  left: 1705px;
  z-index: 3;
}

#p2 {
  background-image: url("../../assets/images/characters/crew/crew3Front.png");
  left: 1920px;
  z-index: 2;
}

#player {
  z-index: 3;
  height: 170px;
  bottom: 148px;
}

#subtitles {
  height: 128px;
  font-size: 40px;
  color: black;
}

.keyMark {
  background-image: url("../../assets/images/ui/QuestReady.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 128px;
  height: 128px;
  bottom: 132px;
  left: 0px;

  margin: 0;
  padding: 0;
  position: absolute;
}

#dialogueReady {
  background-image: url("../../assets/images/ui/pixelDialogueIcon-Color.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 128px;
  height: 128px;
  bottom: 128px;

  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
